<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">contactname</th>
                    <th class="text-center col-2">contactnumber</th>
                    <th class="text-center col-1">Emailaddress</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= list[count].contactname %></td>
                        <td class="text-center col-2"><%= list[count].contactnumber %></td>
                        <td class="text-center col-1"><%= list[count].Emailaddress %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>