<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>



<!--main content-->
<body style=" background: #E0F6ED">
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><strong>Welcome to the <%= title %> page</strong></h1>
      <h4> There are 3 projects I have done so far from the schools and I am working on other portfolios that I am currently working on to put on my resume.</h4>
<h5> I would like to share 3 projects that I enjoyed making and all of this prjects are complted on school and I will update my personal project in near future once they are complted.</h5>
<ul>
    <li><strong>Bug smasher</strong>: you have to catch the bug !. the more you catch the bugs the more hard to catch it.</li><img src="/Assets/images/project 1.png" height="400" width="700">
    <li><strong>Real Estate project</strong>: This was our final exam project that I have done in first year. it was bery meaningful to me since it was hardest project I have done at that time.</li><img src="/Assets/images/project 2.png" height="400" width="700">
    <li><strong>protected Area</strong>: This project was to know what are the enviormental protected area around the  world. meaning on this project was to aware of whats going on in this areas and we should do little things to keep our global warming top stop.</li><img src="/Assets/images/project 3.png" height="400" width="700">
</ul>
  </table>
 </div>
 </main>
</body>





<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>